@charset "UTF-8";

/* main */
.s {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 30px;
}

.s1 {
	padding: 30px;
}

/* post all  */
.board-table {
	width: 100%;
	table-layout: fixed;
	border-bottom: 1px solid gray;
}

.num-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.num-item {
	padding: 10px;
	margin-bottom: 30px;
}

.in-title {
	font: 20px/1 'arial';
	color: gray;
	font-weight: 600;
	margin-bottom: 20px;
}

.nums {
	font: bold 50px/1 'arial';
	color: #343048;
}

#num-unit {
	font: bold 20px/1 'arial';
	color: dimgray;
}

/* detail */
img {
	width: 500px;
	height: 300px;
}

.reply-table {
	table-layout: fixed;
	width: 100%;
}

.originReply {
	max-width: 90%;
  	text-overflow: ellipsis;
  	white-space: normal;
  	display: inline-block;
}

.reply-cell {
	vertical-align: top;
}