@charset "UTF-8";

.user_id {
			position: fixed;;
			top: 20px;
			right: 210px;
		}


/* 중복아이디 유효성검사 */
	.id_input_re_1{
		color : green;
		display : none;
	}
	.id_input_re_2{
		color : red;
		display : none;
	}
	
/* 비밀번호 확인 일치 유효성검사 */
	.pwck_input_re_1{
	        color : green;
	        display : none;    
	}
	.pwck_input_re_2{
	        color : red;
	        display : none;    
	} 
	
	/* 슬라이드 배너 */
	.carousel-item img {
	  height: 300px;
	  object-fit: cover;
	  width: 100%;
	  margin: 0 auto;
	}
	.carousel-indicators li {
	  background-color: #000;
	  opacity: 0.5;
	}
	.carousel-indicators li.active {
	  opacity: 1;
	}