<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

	<settings>
		<!-- null -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- camelcase setting   -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- typeAlias setting  -->
	<typeAliases>
		<typeAlias type="kh.com.job.temp.model.dto.TempDto" alias="mdto"/>
		<typeAlias type="kh.com.job.temp.model.dto.BoardDto" alias="bdto"/>
		<typeAlias type="kh.com.job.temp.model.dto.ApplyProcessDto" alias="apdto"/>
		<typeAlias type="kh.com.job.person.model.dto.PsDto" alias="pdto"/>
	</typeAliases>

<!-- 	
	<mappers>
	 	<mapper resource="mappers/temp-mapper.xml"/>
	 	<mapper resource="mappers/person-mapper.xml"/>
	</mappers>
	 -->
	 
<!-- 	
	<environments default="development">
		<environment id="development">
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="KH"/>
				<property name="password" value="KH"/>
			</dataSource>
		</environment>		
	</environments>
 -->	

</configuration>
