<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="resume">

	<!-- userId 들고오면 resumeNo max 인거 찾아줌 삭제 예정! -->
	<select id="selectOne" resultType="rdto">
		select RESUME_NO,
		RESUME_TITLE, RESUME_PHOTO, RESUME_DATE, PORTF_FILE FROM
		USER_RESUME
		WHERE USER_ID = #{USER_ID} AND RESUME_DATE = (
		SELECT MAX(RESUME_DATE)
		FROM USER_RESUME
		WHERE USER_ID = #{USER_ID}
		)
	</select>

	<select id="rselectOne" resultType="rdto">
		select RESUME_NO,
		RESUME_TITLE, RESUME_PHOTO, RESUME_DATE, PORTF_FILE FROM
		USER_RESUME
		where USER_ID=#{userId} and RESUME_NO=#{resumeNo}
	</select>

	<select id="selectList" resultType="rdto">
		select RESUME_NO,
		RESUME_TITLE, RESUME_DATE, PORTF_FILE FROM USER_RESUME
		where
		USER_ID=#{USER_ID} order by RESUME_DATE desc
	</select>



	<!-- <insert id="insert" parameterType="rdto"> INSERT INTO USER_RESUME (RESUME_NO, 
		RESUME_TITLE, RESUME_PHOTO, RESUME_DATE, PORTF_FILE, USER_ID) VALUES(USER_RESUME_SEQ.NEXTVAL, 
		#{resumeTitle}, #{resumePhoto}, sysdate, #{portfFile}, #{userId}) </insert> -->

	<select id="getResumeNextval" resultType="_int">
		select
		USER_RESUME_SEQ.NEXTVAL from dual
	</select>

	<insert id="insert" parameterType="rdto">
		INSERT INTO USER_RESUME
		(RESUME_NO, RESUME_TITLE, RESUME_PHOTO, RESUME_DATE, USER_ID)
		VALUES(#{resumeNo}, #{resumeTitle}, #{resumePhoto},
		sysdate, #{userId})
	</insert>

	<delete id="delete" parameterType="_int">
		delete from USER_RESUME where
		RESUME_NO=#{RESUME_NO}
	</delete>

	<update id="update" parameterType="rdto">
		update USERS set
		USER_NAME=#{USER_NAME} where USER_ID = #{USER_ID}
	</update>

	<insert id="insertHschool" parameterType="hdto">
		insert into
		RESUME_HIGHSCHOOL(HIGH_EDU_NO, GED, HIGH_NAME, HIGH_DATE, HIGH_MAJOR)
		values
		(RESUME_HIGHSCHOOL_SEQ.NEXTVAL, #{ged}, #{highName},
		#{highDate}, #{highMajor})
	</insert>

	<!-- <select id="selectList" resultType="rdto"> </select> -->

	<insert id="insertUniv" parameterType="udto">
		insert into
		RESUME_UNIVERSITY(UNI_EDU_NO, UNI_ACT, UNI_CATEGORY,
		UNI_NAME,
		UNI_DATE, UNI_MAJOR, UNI_POINT)
		values (RESUME_UNIVERSITY_SEQ.NEXTVAL,
		#{uniAct}, #{uniCategory},
		#{uniName},
		#{uniDate}, #{uniMajor},
		#{uniPoint})
	</insert>

	<insert id="insertGschool" parameterType="gdto">
		insert into
		RESUME_GRADSCHOOL(GRAD_EDU_NO, GRAD_ACT, GRAD_NAME, GRAD_CATEGORY,
		GRAD_DATE, GRAD_MAJOR,
		GRAD_POINT)
		values
		(RESUME_GRADSCHOOL_SEQ.NEXTVAL, #{gradAct}, #{gradName},
		#{gradCategory}, #{gradDate}, #{gradMajor}, #{gradPoint})
	</insert>

	<insert id="insertCareer" parameterType="careerdto">
		insert into
		RESUME_CAREER
		(CAR_NO, CAR_NAME, CAR_DATE, CAR_POSITION, CAR_DEPT,
		CAR_RESP,
		CAR_SALARY)
		values (RESUME_CAREER_SEQ.NEXTVAL, #{carName},
		#{carDate},
		#{carPosition}, #{carDept}, #{carResp}, #{carSalary})
	</insert>

	<delete id="deleteCareer" parameterType="_int">
		DELETE FROM
		RESUME_CAREER
		WHERE CAR_NO = #{carNo}
	</delete>

	<insert id="insertCerti" parameterType="certidto">
		insert into RESUME_CERTI
		(CERTI_NO, CERTI_NAME, CERTI_PUB, CERTI_DATE)
		values
		(RESUME_CERTI_SEQ.NEXTVAL, #{certiName}, #{certiPub}, #{certiDate})
	</insert>

	<delete id="deleteCerti" parameterType="_int">
		delete from RESUME_CERTI
		where
		CERTI_NO = #{certiNo}
	</delete>

	<insert id="insertCl" parameterType="cldto">
		insert into RESUME_CL(CL_NO,
		CL_FILE, CL_GROWTH, CL_MOTIVE, CL_ADV, CL_ASP)
		values(RESUME_CL_SEQ.NEXTVAL, #{clFile}, #{clGrowth}, #{clMotive},
		#{clAdv}, #{clAsp})
	</insert>

	<select id="selectOneCl" resultType="cldto">
		select CL_FILE, CL_GROWTH,
		CL_MOTIVE, CL_ADV, CL_ASP from RESUME_CL where
		CL_NO = #{clNo}
	</select>

	<insert id="insertHighInfo" parameterType="hinfodto">
		insert into
		RESUME_HIGH_INFO (RESUME_NO, HIGH_EDU_NO)
		values
		(#{resumeNo},#{highEduNo})
	</insert>

	<insert id="insertUniInfo" parameterType="uinfodto">
		insert into
		RESUME_UNI_INFO (RESUME_NO, UNI_EDU_NO) values
		(#{resumeNo},#{uniEduNo})
	</insert>

	<insert id="insertGradInfo" parameterType="ginfodto">
		insert into
		RESUME_GRAD_INFO (RESUME_NO, GRAD_EDU_NO) values
		(#{resumeNo},#{gradEduNo})
	</insert>

	<insert id="insertCareerInfo" parameterType="carinfodto">
		INSERT INTO
		RESUME_CAR_INFO (RESUME_NO, CAR_NO)
		SELECT NVL(MAX(RESUME_NO), 1),
		#{carNo} FROM USER_RESUME WHERE USER_ID =
		#{userId}
	</insert>


	<insert id="insertCertiInfo" parameterType="certiinfodto">
		insert into
		RESUME_CERTI_INFO (RESUME_NO, CERTI_NO)
		SELECT NVL(MAX(RESUME_NO), 1),
		#{certiNo} FROM USER_RESUME WHERE USER_ID =
		#{userId}
	</insert>

	<delete id="deleteInfoCerti" parameterType="certiinfodto">
		DELETE FROM
		RESUME_CERTI_INFO
		WHERE CERTI_NO = #{certiNo}
		AND RESUME_NO = (SELECT
		NVL(MAX(RESUME_NO), 1) FROM USER_RESUME WHERE
		USER_ID = #{userId})
	</delete>

	<insert id="insertClInfo" parameterType="clinfodto">
		insert into
		RESUME_CL_INFO (RESUME_NO, CL_NO)
		SELECT NVL(MAX(RESUME_NO), 1),
		#{clNo} FROM USER_RESUME WHERE USER_ID =
		#{userId}
	</insert>



	<!-- HIGH_EDU_NO 이 제일 큰 값 -->
	<select id="selectOneMaxHigh" resultType="_int">
		SELECT HIGH_EDU_NO
		FROM
		RESUME_HIGHSCHOOL
		WHERE HIGH_EDU_NO = (
		SELECT MAX(HIGH_EDU_NO)
		FROM
		RESUME_HIGHSCHOOL
		)
	</select>

	<!-- UNI_EDU_NO 이 제일 큰 값 -->
	<select id="selectOneMaxUni" resultType="_int">
		SELECT UNI_EDU_NO
		FROM
		RESUME_UNIVERSITY
		WHERE UNI_EDU_NO = (
		SELECT MAX(UNI_EDU_NO)
		FROM
		RESUME_UNIVERSITY
		)
	</select>

	<!-- GRAD_EDU_NO 이 제일 큰 값 -->
	<select id="selectOneMaxGrad" resultType="_int">
		SELECT GRAD_EDU_NO
		FROM
		RESUME_GRADSCHOOL
		WHERE GRAD_EDU_NO = (
		SELECT MAX(GRAD_EDU_NO)
		FROM
		RESUME_GRADSCHOOL
		)
	</select>

	<!-- CAR_NO 이 제일 큰 값 -->
	<select id="selectOneMaxCar" resultType="_int">
		SELECT CAR_NO
		FROM
		RESUME_CAREER
		WHERE CAR_NO = (
		SELECT MAX(CAR_NO)
		FROM
		RESUME_CAREER
		)
	</select>

	<!-- CERTI_NO 이 제일 큰 값 -->
	<select id="selectOneMaxCerti" resultType="_int">
		SELECT CERTI_NO
		FROM
		RESUME_CERTI
		WHERE CERTI_NO = (
		SELECT MAX(CERTI_NO)
		FROM
		RESUME_CERTI
		)
	</select>

	<!-- CL_NO 이 제일 큰 값 -->
	<select id="selectOneMaxCl" resultType="_int">
		SELECT CL_NO
		FROM
		RESUME_CL
		WHERE CL_NO = (
		SELECT MAX(CL_NO)
		FROM
		RESUME_CL
		)
	</select>

	<select id="selectListHigh" resultType="hdto">
		SELECT h.high_Edu_no AS
		highEduNo, h.ged AS ged, h.high_name AS highName, h.high_date AS
		highDate, h.high_major AS highMajor
		FROM RESUME_HIGHSCHOOL h
		INNER JOIN
		RESUME_HIGH_INFO i ON h.high_Edu_no = i.HIGH_EDU_NO
		INNER JOIN
		USER_RESUME u ON i.RESUME_NO = u.RESUME_NO
		WHERE u.USER_ID = #{USER_ID}
		ORDER BY h.high_date DESC
	</select>

	<select id="selectListUni" resultType="udto">
		SELECT u.UNI_EDU_NO AS
		uniEduNo, u.UNI_ACT AS uniAct, u.UNI_CATEGORY AS uniCategory,
		u.UNI_NAME AS uniName, u.UNI_DATE AS uniDate, u.UNI_MAJOR AS uniMajor,
		u.UNI_POINT AS uniPoint
		FROM RESUME_UNIVERSITY u
		INNER JOIN
		RESUME_UNI_INFO i ON u.UNI_EDU_NO = i.UNI_EDU_NO
		INNER JOIN
		USER_RESUME
		u ON i.RESUME_NO = u.RESUME_NO
		WHERE u.USER_ID = #{userId}
		ORDER BY
		u.UNI_DATE DESC
	</select>

	<select id="selectListGrad" resultType="gdto">
		SELECT rg.GRAD_EDU_NO AS
		gradEduNo, rg.GRAD_ACT as gradAct, rg.GRAD_CATEGORY as gradCategory,
		rg.GRAD_NAME AS gradName, rg.GRAD_DATE AS gradDate,
		rg.GRAD_MAJOR AS
		gradMajor, rg.GRAD_POINT as gradPoint
		FROM RESUME_GRADSCHOOL rg
		INNER
		JOIN RESUME_GRAD_INFO i ON rg.GRAD_EDU_NO = i.GRAD_EDU_NO
		INNER
		JOIN
		USER_RESUME u ON i.RESUME_NO = u.RESUME_NO
		WHERE u.USER_ID = #{userId}
		ORDER BY rg.GRAD_DATE DESC
	</select>

	<select id="selectListCareer" resultType="careerdto">
		SELECT rc.CAR_NO AS
		carNo, rc.CAR_NAME
		AS carName, rc.CAR_DATE AS carDate, rc.CAR_POSITION
		AS carPosition, rc.CAR_DEPT AS carDept,
		rc.CAR_RESP AS carResp,
		rc.CAR_SALARY AS carSalary
		FROM RESUME_CAREER rc
		INNER JOIN
		RESUME_CAR_INFO i on rc.CAR_NO = i.CAR_NO
		INNER JOIN USER_RESUME u on
		i.RESUME_NO = u.RESUME_NO
		WHERE u.USER_ID = #{userId}
		ORDER BY
		rc.CAR_DATE DESC
	</select>

	<select id="selectListCerti" resultType="certidto">
		SELECT CERTI_NO,CERTI_NAME,CERTI_PUB, CERTI_DATE
		FROM RESUME_CERTI
		WHERE CERTI_NO IN (
		SELECT CERTI_NO
		FROM RESUME_CERTI_INFO
		WHERE RESUME_NO IN (
		SELECT RESUME_NO
		FROM USER_RESUME
		WHERE USER_ID = #{userId}
		)
		)
	</select>

	<select id="selectListCl" resultType="cldto">
		SELECT cl.CL_NO AS clNo,
		cl.CL_FILE AS clFile, cl.CL_GROWTH AS clGrowth,
		cl.CL_MOTIVE AS
		clMotive, cl.CL_ADV AS clAdv, cl.CL_ASP AS clAsp
		FROM
		RESUME_CL cl
		INNER
		JOIN
		RESUME_CL_INFO i on cl.CL_NO = i.CL_NO
		INNER JOIN
		USER_RESUME u on
		i.RESUME_NO = u.RESUME_NO
		WHERE u.USER_ID = #{userId}
		ORDER BY
		cl.CL_NO
		DESC
	</select>

</mapper>
