<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="temp">

  <select id="memberList" resultType="mdto">
  	select * from personal_member
  </select>
  
  
  <select id="boardList" resultType="bdto">
  	select * from test_board
  </select>
  
  <select id="applyProcessList" resultType="apdto">
  	select * from BUSINESS_APPLY_PROCESS
  </select>
</mapper>
